<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Test envoi email par Wistech</h3>
    <strong> {{ date }}</strong>

    <strong>votre email {{ email }} </strong>

    <p style="color: red">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dignissimos aut accusamus error, illum cupiditate harum!
         Voluptate aut doloremque vero sapiente error accusantium et 
         harum, ut unde facere ducimus fugit eius praesentium nemo hic 
         tenetur dolore quas? Sit beatae nesciunt voluptatem, eum sequi
          in similique sunt nostrum doloremque aut inventore
           molestiae.</p>

    <em> Wisner programmeur email aureluswisner2000@gmail.com</em>
</body>
</html>